.App{
border: 1px solid black;
width: 60%;
margin: 10px auto;
padding: 2%;
}
.menu > a {
  letter-spacing: 5px;
  margin-right: 5%;
  text-decoration: none;
  color: black;
}
.menu > a[class="selected"]{
  color: green;
}
form >label {
  font-size: 2rem;
  letter-spacing: 3px;
}
form >input{
  width: 60%;
  height: 2rem;
}
table {
  width: 100%;
  text-align: left;
}
table tr{
  height: 2rem;
}
table th{
  font-size: large;
}
button{
  width: 20%;
  height: 2rem;
  letter-spacing: 1px;
  color: green;
}
select{
  width: 61%;
  height: 2rem;
}
@media only screen and (max-width: 360px){
  .App{
    width: 80%;
  }
}
